/* Reset */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background: linear-gradient(180deg, #009688 10%, #DADBD4 10%);
    height: 100vh;
    width: 100%;
}

#app {
    width: 80%;
    height: 90%;
    margin: 0 auto;
    display: flex;
}

.wrapper {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-content: center;
}

.users {
    width: calc(100% - 70%);
    height: 100%;
    /* debug */
    background-color: white;
    border-right: 1px solid white;
}

/* Layout */

.messages {
    width: calc(100% - 30%);
}

/* personal info section */

.icons {
    display: flex;
    color:#B1B1B1;
    gap: 20px;
}
.personal-info {
    display: flex;
    padding: 8px;
    /* debug */
    background-color: #EAEAEA;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.personal-image {
    display: flex;
    align-items: center;
}

.personal-image img {
    width: 50px;
    height: 50px;
    border-radius: 50% ;
}

.personal-name {
    vertical-align: middle;
}

.cta {
    display: flex;
    align-items: center;
    /* debug */
    height: 80px;
    background-color: #8EDAFC;
}

.search-chat {
    /* debug */
    height: 60px;
    background-color: #FAFAFA;
}

.bell {
    margin-left: 20px;
    color: #8EDAFC;;
    background-color: white;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.notification-text {
    margin-left: 10px;
    font-size: 0.9rem;
}

.act-notification-text {
    text-decoration: underline;
    color: #748485;
}

.search-chat {
    display: flex;
    align-items: center;
}

.search-icon {
    margin-left: 10px;
    color: #B1B1B1;
    background-color: white;
    border:1px solid #F5F5F5;
    width: 70px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    vertical-align:middle;
    padding-left: 10px;
    padding-right: 10px;
}

.search-input input {
    width: 200px;
    height: 23px;
    border: 1px solid #F5F5F5;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Messages section */

.messages {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    padding: 8px;
    /* debug */
    background-color: #EAEAEA;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.user-image {
    display: flex;
    align-items: center;
}

.user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50% ;
}

.user-name {
    vertical-align: middle;
}

.contact-list {
    flex-grow: 1;
    background-color: white;
    overflow-y: auto;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;
}
.contact-item.active {
    background-color: lightskyblue;
}

.contact-info {
    display: flex;
}

.contact-item:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

/* Chat */

.chat {
    background-image: url(../img/mine.jpg);
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px 10px;
}

.message-row {
    margin-bottom: 10px;
    display: flex;
}
.message-row.sent {
    justify-content: flex-end;
}

.message-row.received {
    justify-content: flex-start;
}

.message {
    padding: 10px 5px;
    min-width: 40%;
    max-width: 60%;
    border-radius: 12px;
}

.sent .message {
    background-color: #D5F9BA;
}
.received .message {
    background-color: white;
}
.message .date {
    text-align: right;
    font-size: 0.6rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    background-color: #F3EEEA;
    height: 54px;
    line-height: 55px;
}

.message-input input {
    width: 400px;
    height: 30px;
    border:none;
    border-radius: 5px;
}

.smile {
    color: #6B7376;
}

.microphone {
    color: #6B7376;
}

