<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOLZAPP</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">

        <div class="wrapper">
            <!-- Users section -->
            <section class="users">
            
                <div class="personal-info">
                    <div class="personal-image">
                        <img src="img/avatar_io.jpg" alt="">
                        <span class="myname">Sofia</span>
                    </div>

                    <div class="icons">
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                </div>

                <!-- Cta -->
                <div class="cta">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="notification-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <div class="act-notification-text">Attiva notifiche desktop</div>
                    </div>
                </div>
                <!-- /Cta -->

                <!-- Search bar -->
                <div class="search-chat">
                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- /Search bar -->

                <!-- Contact list -->
                <div class="contact-list" v-for="(contact, index) in contacts">
                    <div class="contact-item" @click="displayMessages(index)">
                        <div class="contact-info">
                            <img class="avatar-img" :src="`img/avatar${contact.avatar}.jpg`" alt="">
                            <div class="contact-name">
                                <h3 class="avatar-name">{{contact.name}}</h3>
                                <p>ultimo accesso</p>
                            </div>
                        </div>
                        <div class="contact-time">
                            12:00
                        </div>    
                    </div>


                </div>
                <!-- /Contact list -->

            </section>
            <!-- /Users Section -->

            <!-- Messages section -->
            <section class="messages">
                <!-- User Info -->
                <div class="user-info">
                    <div class="user-image">
                        <img :src="`img/avatar${contacts[activeIndex].avatar}.jpg`" alt="">
                        <p class="myname">{{contacts[activeIndex].name}}</p>
                        <p></p>
                    </div>

                    <div class="icons">
                        <div>
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-paperclip"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                </div>
                <!-- /User Info -->

                <!-- Chat -->
                <div class="chat" v-for="message in contacts[activeIndex].messages">

                    <div class="message-row" :class="message.status">
                        <div class="message">
                            {{message.message}}
                        </div>
                    </div>

                   
                </div>
                <!-- /Chat -->


                <!-- Footer -->
                <footer>
                    <div class="smile">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="message-input">
                        <input type="text" placeholder=" Scrivi un messaggio">
                    </div>
                    <div class="microphone">
                        <i class="fa-solid fa-microphone"></i>
                    </div>

                </footer>
                <!-- /Footer -->

            </section> 
            <!-- /Messages section -->

            
        
        </div>


    </div>


    <script src="js/script.js"></script>
</body>
</html>